node_modules
dist
lerna-debug.log
.rpt2_cache
.DS_Store

packages/*/node_modules
packages/*/dist
packages/*/public/*.js
packages/*/public/*.map
packages/*/.rpt2_cache

playgrounds/*/node_modules
playgrounds/*/dist
playgrounds/*/public/*.js
playgrounds/*/public/*.map
playgrounds/*/.rpt2_cache
